.home {
  padding-top: 2vw;
  .box {
    max-width: 1440px;
    margin: 0 auto;
    padding-block: 2.5vw;
    display: flex;
    align-items: center;
    gap: 2vw;
    background: #212529;
    hr {
      width: 100%;
      height: 0.3vw;
      background: #adb5bd;
    }
    h1 {
      width: 70vw;
      font-size: 2.5vw;
      font-weight: 600;
      color: #fff;
      text-align: center;
    }
  }
  .main {
    max-width: 1440px;
    margin: 0 auto;
    background: #ced4da;
    padding-block: 3vw;
    .scroll {
      position: relative;
      .content {
        overflow-x: scroll;
        display: flex;
        // gap: 13px;
        gap: 1.3vw;
        // padding: 20px 15px;
        padding: 2vw 1.5vw;
        .card {
          width: 270px;
          height: 350px;
          flex-shrink: 0;
          border-radius: 20px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          overflow: hidden;
          &:hover {
            box-shadow: #21252926 0 5px 10px 10px;
          }
          .img {
            width: 100%;
            height: 300px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: inherit;
            overflow: hidden;
            img {
              width: auto;
              height: 100%;
              object-fit: cover;
            }
          }
          .txt {
            width: 90%;
            overflow: auto;
            height: 30px;
            margin-bottom: 10px;
            p {
              color: #212529;
              font-size: 24px;
              font-weight: 600;
              text-align: center;
            }
          }
        }
        .skeltton {
          width: 100%;
          overflow-x: scroll;
          display: flex;
          gap: 13px;
          .card {
            width: 270px;
            height: 350px;
            flex-shrink: 0;
            background: #212529;
            opacity: 1;
            animation: skelton 2s infinite ease;
          }
        }
      }
      button {
        width: 5%;
        height: 100%;
        font-size: 3vw;
        border: 0;
        background: transparent;
        transform: scaleY(2);
      }
      .left {
        position: absolute;
        left: -4vw;
        bottom: 2vw;
        z-index: 10;
      }
      .right {
        position: absolute;
        right: -4vw;
        bottom: 2vw;
        z-index: 1;
      }
    }
  }
}
.about {
  padding-top: 50px;
  h1 {
    font-size: 30px;
    margin-bottom: 30px;
  }
  .content {
    width: 100%;
    height: 300px;
    border: solid 1px #000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    p {
      opacity: 0.5;
      rotate: -20deg;
      animation: txt 5s infinite ease-in-out;
    }
  }
}

@keyframes skelton {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes txt {
  0% {
    transform: translateX(200px);
    rotate: -20deg;
  }
  50% {
    transform: translateX(-200px);
    rotate: 20deg;
  }
  100% {
    transform: translateX(200px);
    rotate: -20deg;
  }
}

@media (min-width: 1440px) {
  .home {
    .box {
      padding-block: 30px;
      gap: 20px;
      hr {
        height: 2px;
      }
      h1 {
        width: 700px;
        font-size: 30px;
      }
    }
    .main {
      padding-block: 30px;
      .scroll {
        .content {
          gap: 13px;
          padding: 20px 15px;
          .card {
            width: 270px;
            height: 350px;
            border-radius: 20px;
            &:hover {
              box-shadow: #21252926 0 5px 10px 10px;
            }
            .img {
              height: 300px;
            }
            .txt {
              height: 30px;
              margin-bottom: 10px;
              p {
                font-size: 24px;
              }
            }
          }
          .skeltton {
            gap: 13px;
            .card {
              width: 270px;
              height: 350px;
            }
          }
        }
        button {
          font-size: 40px;
        }
        .left {
          left: -50px;
          bottom: 20px;
        }
        .right {
          right: -50px;
          bottom: 20px;
        }
      }
    }
  }
}
