.header {
  background: #acb5bd;
  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2vw;
    .logo {
      display: flex;
      align-items: center;
      overflow: hidden;
      height: 8vw;
      img {
        width: auto;
        scale: 2;
        height: inherit;
      }
    }
    .nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 5vw;
      button {
        border: 0;
        background: transparent;
        font-size: 1.5vw;
        font-weight: 600;
      }
      .icons {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 3vw;
        .user {
          position: relative;
          .avatar {
            width: 3vw;
            height: 3vw;
            border-radius: 50%;
            border: 1px solid #212529;
          }
          .modal {
            position: absolute;
            top: 70px;
            right: 0;
            z-index: 100;
            background: #acb5bd;
            button {
              width: 100%;
              padding: 6px 10px;
              background: #acb5bd;
              transition: 0.5s;
              border: 1px solid #fff;
              opacity: 0.7;
              &:hover {
                background: #212529;
                color: #acb5bd;
                opacity: 1;
              }
            }
          }
        }
        .push {
          display: flex;
          flex-direction: row-reverse;
          gap: 2.5vw;
          .badgeBasket,
          .badgeMessage {
            width: 2.5vw;
            height: 2.5vw;
            position: relative;
            span {
              display: flex;
              align-items: center;
              justify-content: center;
              min-width: 1.5vw;
              background: #cc84ed;
              border-radius: 1vw;
              padding: 0.4vw 0.6vw;
              color: #fff;
              font-size: 0.8vw;
              position: absolute;
              z-index: 1;
              top: -0.9vw;
              right: -0.9vw;
            }
          }
        }
      }
      .btns {
        display: flex;
        align-items: center;
        gap: 2vw;
        button {
          color: #212529;
          padding: 1vw 2vw;
          font-size: 1.2vw;
          transition: 0.5s;
          border: solid 1px #212529;
          &:hover {
            background: #212529;
            color: #acb5bd;
          }
          &:active {
            scale: 0.9;
          }
        }
      }
    }
  }
}

@media (min-width: 1440px) {
  .header {
    .content {
      gap: 20px;
      .logo {
        height: 100px;
      }
      .nav {
        gap: 20px;
        button {
          font-size: 20px;
        }
        .icons {
          gap: 25px;
          .user {
            .avatar {
              width: 40px;
              height: 40px;
            }
            .modal {
              top: 70px;
              button {
                padding: 6px 10px;
              }
            }
          }
          .push {
            gap: 25px;
            .badgeBasket,
            .badgeMessage {
              width: 30px;
              height: 30px;
              span {
                min-width: 20px;
                border-radius: 10px;
                padding: 4px 6px;
                font-size: 10px;
                top: -10px;
                right: -10px;
              }
            }
          }
        }
        .btns {
          gap: 20px;
          button {
            padding: 10px 20px;
            font-size: 16px;
          }
        }
      }
    }
  }
}
@media (max-width: 500px) {
  .header {
    .content {
      gap: 2vw;
      .logo {
        height: 10vw;
      }
      .nav {
        gap: 3vw;
        button {
          font-size: 2vw;
          transform: scaleY(2);
        }
        .icons {
          gap: 3vw;
          .user {
            .avatar {
              width: 5vw;
              height: 5vw;
            }
            .modal {
              top: 6vw;
              right: -5vw;
              button {
                padding: 01vw 1vw;
                transform: scaleY(1);
                font-size: 3vw;
              }
            }
          }
          .push {
            gap: 2vw;
            .badgeBasket,
            .badgeMessage {
              width: 4vw;
              height: 4vw;
              span {
                min-width: 2vw;
                border-radius: 5vw;
                padding: 0.6vw 1vw;
                font-size: 2vw;
                top: -1.5vw;
                right: -1.5vw;
              }
            }
          }
        }
        .btns {
          gap: 2vw;
          button {
            padding: 1vw 2vw;
            font-size: 2vw;
            transform: scaleY(1);
          }
        }
      }
    }
  }
}
