.header {
  background: #acb5bd;
  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    .logo {
      display: flex;
      align-items: center;
      overflow: hidden;
      height: 100px;
      img {
        width: auto;
        scale: 2;
        height: inherit;
      }
    }
    .nav {
      max-width: 700px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
      button {
        border: 0;
        background: transparent;
        font-size: 20px;
        font-weight: 600;
      }
      .icons {
        display: flex;
        align-items: center;
        gap: 25px;
        .user {
          position: relative;
          .modal {
            position: absolute;
            top: 70px;
            right: 0;
            z-index: 1;
            width: 100px;
            background: #acb5bd;
            button {
              width: 100%;
              height: 30px;
              background: #acb5bd;
              transition: 0.5s;
              border: 1px solid #fff;
              opacity: 0.7;
              &:hover {
                background: #212529;
                color: #acb5bd;
                opacity: 1;
              }
            }
          }
        }
      }
      .btns {
        display: flex;
        align-items: center;
        gap: 20px;
        button {
          color: #212529;
          padding: 10px 20px;
          font-size: 16px;
          transition: 0.5s;
          border: solid 1px #212529;
          &:hover {
            background: #212529;
            color: #acb5bd;
          }
          &:active {
            scale: 0.9;
          }
        }
      }
    }
  }
}
