.header {
  background: #acb5bd;
  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2vw;
    .logo {
      display: flex;
      align-items: center;
      overflow: hidden;
      height: 8vw;
      img {
        width: auto;
        scale: 2;
        height: inherit;
      }
    }
    .nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 5vw;
      button {
        border: 0;
        background: transparent;
        font-size: 1.5vw;
        font-weight: 600;
      }
      .icons {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 25px;
        .user {
          position: relative;
          .modal {
            position: absolute;
            top: 70px;
            right: 0;
            z-index: 100;
            background: #acb5bd;
            button {
              width: 100%;
              padding: 6px 10px;
              background: #acb5bd;
              transition: 0.5s;
              border: 1px solid #fff;
              opacity: 0.7;
              &:hover {
                background: #212529;
                color: #acb5bd;
                opacity: 1;
              }
            }
          }
        }
      }
      .btns {
        display: flex;
        align-items: center;
        gap: 2vw;
        button {
          color: #212529;
          padding: 1vw 2vw;
          font-size: 1.2vw;
          transition: 0.5s;
          border: solid 1px #212529;
          &:hover {
            background: #212529;
            color: #acb5bd;
          }
          &:active {
            scale: 0.9;
          }
        }
      }
    }
  }
}

@media (min-width: 1440px) {
  .header {
    .content {
      gap: 20px;
      .logo {
        height: 100px;
      }
      .nav {
        gap: 20px;
        button {
          font-size: 20px;
        }
        .icons {
          gap: 25px;
          .user {
            .modal {
              top: 70px;
              button {
                padding: 6px 10px;
              }
            }
          }
        }
        .btns {
          gap: 20px;
          button {
            padding: 10px 20px;
            font-size: 16px;
          }
        }
      }
    }
  }
}
