.footer {
  margin-top: auto;
  background: #212529;
  padding: 40px 0;
  color: #fff;
  .content {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    hr {
      display: none;
    }
    .left,
    .right {
      h2 {
        font-size: 24px;
        font-weight: 600;
        line-height: 36px;
      }
      h1 {
        font-size: 40px;
        font-weight: 600;
        line-height: 60px;
      }
      p {
        width: 340px;
        font-size: 14px;
        font-weight: 600;
        line-height: 21px;
      }
      .signUp {
        margin-top: 20px;
        display: flex;
        gap: 20px;
        input {
          padding: 0 10px;
          background: #f8f9fa;
          width: 385px;
          height: 43px;
          border-radius: 8px;
          outline: none;
        }
        .pass {
          width: 385px;
          height: 43px;
          display: flex;
          align-items: center;
          position: relative;
          span {
            position: absolute;
            right: 20px;
          }
        }
        button {
          width: 141px;
          background: #adb5bd;
          border-radius: 8px;
          color: #212529;
        }
      }
    }
    .right {
      text-align: right;
      p {
        width: 350px;
      }
      .btns {
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 80px;
      }
    }
  }
}
@media (min-width: 1440px) {
  .footer {
    padding: 40px 0;
    .content {
      gap: 50px;
      .left,
      .right {
        h2 {
          font-size: 24px;
          line-height: 36px;
        }
        h1 {
          font-size: 40px;
          line-height: 60px;
        }
        p {
          width: 340px;
          font-size: 14px;
          line-height: 21px;
        }
        .signUp {
          margin-top: 20px;
          gap: 20px;
          input {
            padding: 0 10px;
            width: 385px;
            height: 43px;
            border-radius: 8px;
          }
          .pass {
            width: 385px;
            height: 43px;
            span {
              right: 20px;
            }
          }
          button {
            width: 141px;
            border-radius: 8px;
          }
        }
      }
      .right {
        p {
          width: 350px;
        }
        .btns {
          margin-top: 20px;
          gap: 80px;
        }
      }
    }
  }
}
@media (max-width: 1100px){
.footer{
  padding: 10vw 0;
  .content {
    flex-direction: column;
    gap: 10vw;
    hr {
      display: flex;
    }
    .right{
      p{
        margin-left: auto;
      }
    }
  }
}
}
@media (max-width: 500px) {
  .footer {
    padding: 10vw 0;
    .content {
      flex-direction: column;
      gap: 10vw;

      hr {
        display: flex;
      }
      .left,
      .right {
        h2 {
          font-size: 5vw;
          line-height: 5vw;
          opacity: 0.8;
        }
        h1 {
          font-size: 9vw;
          line-height: 12vw;
          padding-bottom: 4vw;
        }
        p {
          width: 100%;
          font-size: 3.2vw;
          opacity: 0.5;
        }
        .signUp {
          width: 100%;
          margin-top: 3vw;
          gap: 2vw;
          input {
            width: 100%;
          }
          button {
          }
        }
      }
    }
  }
}
