* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  cursor: context-menu;
}
body {
  background: #fff;
  color: #000;
  .container {
    max-width: 1440px;
    width: 90%;
    margin-inline: auto;
  }
  button {
    cursor: pointer;
  }
}
body.dark {
  background: #000;
  color: #fff;
}
::-webkit-scrollbar {
  width: 0;
}

#dark,
.dark {
  background: #000;
}


